@(clientForm: Form[Client])

@import helper._
@import helper.twitterBootstrap._
@import play.api.mvc.Call

@main(""){
  @helper.form(action = controllers.routes.ClientController.newClient) {
    <legend>New Client</legend>
    @inputText(
                clientForm("displayName"),
                '_label -> "Name"
            )
    @inputText(
                clientForm("ip"),
                '_label -> "IP"
    )
    @inputText(
                clientForm("port"),
                '_label -> "Port"
    )

    <div class="actions">
      <input type="submit" class="btn btn-large btn-primary" value="New Client">
      <a href="@routes.Application.index" class="btn btn-large btn-danger">Cancel</a>
    </div>
  }
}