@(action: ActionModel)

@main(""){
  <h1>Action @action.name</h1>
  <div>Id: @action.id</div>
  <div>Groups:</div>
  <ul>
    @for(group <- action.groups){
      <li>Group @group.id</li>
    }
  </ul>
  <div>Name: @action.name</div>
  <div>Config: @action.config</div>
  <div>Executed: @action.executed</div>
  <div>Uploaded Date: @action.uploaded</div>
  <div>Execution Date: @action.execution</div>
  <div>
    Commands:
    @if(action.commands.length > 0) {
      <ul>
      @for(command <- action.commands) {
        <li><a href="/commands/@command.id/edit">@command.description</a></li>
      }
      </ul>
    } else {
      none.
    }
  </div>
  <div>
    <a href="/actions/@action.id/edit" class="btn">Edit Action</a>
    <a href="/commands/new" class="btn btn-primary">New Command</a>
  </div>
}